header.header.header--absolute
 .container.header__container
  .logo_box
   a.logo__link(href="#") 
    img.logo__img(src="assets/images/logo.webp", alt="logo")
  nav.navbar
   button.navbar__close(aria-label="Close menu")
    span
    span
   ul.navbar__list
    li.navbar__item
     a.navbar__link(href="#") home
    li.navbar__item
     a.navbar__link(href="#") about
    li.navbar__item
     a.navbar__link(href="#") contact
  button.header__burger(aria-label="Toggle menu")
   span
   span
   span
