section.posts
  .container
    .posts__container
      h2.posts__title Some section of posts
      .posts__grid
        article.post-card
          a.post-card__link(href="#")
            img.post-card__image(src="assets/images/img-post-1.webp", alt="Post image one")
          .post-card__body
            h3.post-card__title
              a.post-card__link(href="#") Nostrum quod fugiat odio perspiciatis
            p.post-card__text Minus ad voluptas non, ducimus suscipit temporibus explicabo! Inventore dolorum, debitis eligendi earum in corrupti consectetur quam nesciunt facilis explicabo?
        article.post-card
          a.post-card__link(href="#")
            img.post-card__image(src="assets/images/img-post-2.webp", alt="Post image two")
          .post-card__body
            h3.post-card__title
              a.post-card__link(href="#") Lorem ipsum dolor amet
            p.post-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil aperiam ipsum obcaecati, quisquam. Reprehenderit corporis neque architecto, id, vero voluptate.
        article.post-card
          a.post-card__link(href="#")
            img.post-card__image(src="assets/images/img-post-3.webp", alt="Post image three")
          .post-card__body
            h3.post-card__title
              a.post-card__link(href="#") Eum quibusdam voluptas explicabo, commodi
            p.post-card__text Quo sit explicabo dolore, nihil soluta adipisci deleniti consequatur voluptatem cumque, quaerat minima repudiandae consectetur incidunt dolorum, culpa, voluptates ab!
        article.post-card
          a.post-card__link(href="#")
            img.post-card__image(src="assets/images/img-post-4.webp", alt="Post image four")
          .post-card__body
            h3.post-card__title
              a.post-card__link(href="#") Voluptate fuga earum
            p.post-card__text Ullam saepe maiores magnam, consequatur perferendis.
        article.post-card
          a.post-card__link(href="#")
            img.post-card__image(src="assets/images/img-post-5.webp", alt="Post image five")
          .post-card__body
            h3.post-card__title
              a.post-card__link(href="#") Facere rerum aliquam nostrum vel
            p.post-card__text Quo sit explicabo dolore, nihil soluta adipisci deleniti consequatur voluptatem cumque.
        article.post-card
          a.post-card__link(href="#")
            img.post-card__image(src="assets/images/img-post-6.webp", alt="Post image six")
          .post-card__body
            h3.post-card__title
              a.post-card__link(href="#") Ratione reprehenderit necessitatibus, labore vel
            p.post-card__text Ad est voluptate sunt, cupiditate, voluptatem dignissimos corporis unde cumque distinctio, ab odio dolores molestias non cum fugiat enim voluptatibus!
    .button-group 
      a.btn.btn--primary View all posts...
