section.skills
  h2.skills__title.visually-hidden Developers Skills
  .skills__container
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") HTML
      .skills__item-image(style="background-image:url('assets/images/img-html.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") CSS
      .skills__item-image(style="background-image:url('assets/images/img-css.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") Markup
      .skills__item-image(style="background-image:url('assets/images/img-markup.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") Web Design
      .skills__item-image(style="background-image:url('assets/images/img-webdesign.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") Quality Assurance
      .skills__item-image(style="background-image:url('assets/images/img-qa.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") Coding
      .skills__item-image(style="background-image:url('assets/images/img-codding.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") Adaptability
      .skills__item-image(style="background-image:url('assets/images/img-adaptability.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") PHP
      .skills__item-image(style="background-image:url('assets/images/img-php.webp')")
      .skills__item-overlay
    article.skills__item
      h3.skills__item-title
        a.skills__item-link(href="#") SEO
      .skills__item-image(style="background-image:url('assets/images/img-seo.webp')")
      .skills__item-overlay
  .button-group 
    a.btn.btn--primary View all skills...
