doctype html
html(lang="zxx")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title INDEX
    link(rel="stylesheet", href="assets/css/style.css")
  body
    .wrapper 
      .overlay
        include _header.pug
        include _hero.pug
      main
        include _skills.pug
        include _about.pug
        include _subscribe.pug
        include _posts.pug
      include _footer.pug
    script(src="assets/js/main.js")
