@use "../abstracts/" as *;

.container {
  @include container;
}

.visually-hidden {
  @include hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.btn {
  @include button;
}
.button-group {
  display: flex;
  gap: $gap;
  justify-content: center;
}

.no-scroll {
  overflow: hidden;
}
