@use '../abstracts/' as *;

html {
  overflow-y: scroll;
  font-family: $font-family;
  font-size: $font-size-md;
}
body {
  color: $color-gray;
  background-color: $color-white;
}

h1 {
  @include title($color-white);
}

h2 {
  @include subtitle($color-primary);
}

p {
  @include text($font-size-md, $color-primary);
}

a {
  @include link($font-size-md, $color-white);
}
