// BREAKPOINTS

$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 320px;
$gap: 20px;

// GAPS
$gap-sm: $gap * 0.5; // 10px / або math.div($gap, 2) / або calc($gap / 2)
$gap-lg: $gap * 1.5; // 30px
$gap-x2: $gap * 2; // 40px
$gap-x3: $gap * 3; // 60px
$gap-x4: $gap * 4; // 80px
$gap-x5: $gap * 5; // 100px

// FONT SIZES

$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 24px;
$font-size-2xl: 32px;
$font-size-3xl: 40px;
$font-size-4xl: 60px;

// FONT WEIGHTS

$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 700;

// FONT FAMILLY

$font-family: "Roboto", sans-serif;
$font-family2: "Roboto Slab", sans-serif;
