// BREAKPOINTS

$breakpoint-xl: 1920px;
$breakpoint-lg: 1200px;
$breakpoint-md: 992px;
$breakpoint-sm: 768px;
$breakpoint-xs: 576px;
$breakpoint-xl-plus: $breakpoint-xl + 0.2px;
$breakpoint-lg-plus: $breakpoint-lg + 0.2px;
$breakpoint-md-plus: $breakpoint-md + 0.2px;
$breakpoint-sm-plus: $breakpoint-sm + 0.2px;
$breakpoint-xs-plus: $breakpoint-xs + 0.2px;

// GAPS
$gap-sm: 20px;
$gap-md: 27px;
$gap-lg: 45px;
$gap-xl: 50px;
$gap-2xl: 60px;

// FONT SIZES

$font-size-sm: 13px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 26px;
$font-size-2xl: 30px;
$font-size-3xl: 40px;
$font-size-4xl: 60px;

// FONT WEIGHTS

$font-weight-sm: 300;
$font-weight-md: 400;
$font-weight-lg: 700;

// FONT FAMILLY

$font-family: "Roboto", sans-serif;
$font-family2: "Roboto Slab", sans-serif;
